
<div class="item-name">
    {{onOff().name}}
</div>
<div class="row-left" id="buttons">
    <button
        [disabled]="busyFlag()"
        (click)="setActuatorOff()">
        <i class="fa fa-toggle-off"></i> off
    </button>
    <button
        [disabled]="busyFlag()"
        (click)="toggleActuator()">
        <i class="fa fa-retweet"></i> toggle
    </button>
    <button
        [disabled]="busyFlag()"
        (click)="setActuatorOn()">
        <i class="fa fa-toggle-on"></i> on
    </button>
</div>


