:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px;
}

.item-name {
    user-select: none;
    color: gray;
    border-bottom: 1px solid orange;
    padding: 2px;
}

button {
    flex: 1 1 100%;
    font-size: 1.0rem;
    color: gray;
    padding: 4px 8px;
    white-space: nowrap;
    user-select: none;
}
