<div class='row-left-stretch app-header'>
    <div class="row-left sel-name">
        {{getSelDesc()}}
    </div>
    <button (click)="readSelected()">
        <i class="fa fa-arrow-down"></i> read
    </button>
</div>

<div class="items-frame">
    @for(item of itemsMap | keyvalue; track item.key){
        @switch(item.value.type){
            @case(g_const.ACTUATOR_ON_OFF){
                <ssr [onOff]="item.value"></ssr>
            }
            @case(g_const.SENSOR){
                <sensor [sensor]="item.value"></sensor>
            }
        }
    }
</div>

<div class="app-footer">
    <button
        (click)="selTemp()"
        [disabled]="udpBusy">
        temp
    </button>
    <button
        (click)="selRH()"
        [disabled]="udpBusy">
        humidity
    </button>
    <button
        (click)="selAQ()"
        [disabled]="udpBusy">
        air quality
    </button>
    <button
        (click)="selOnOffAct()"
        [disabled]="udpBusy">
        on-off
    </button>
</div>


