<div class='row-left-stretch app-header'>
    <div class="row-left sel-name">
        {{desc()}}
    </div>
</div>

<div class="items-frame">
    @for(item of items() | keyvalue; track item.key){
        @switch(item.value.type){
            @case(g_const.ACTUATOR_ON_OFF){
                <ssr [onOff]="item.value"></ssr>
            }
            @case(g_const.SENSOR){
                <sensor [sensor]="item.value"></sensor>
            }
        }
    }
</div>

<div class="app-footer">
    <button (click)="readTemp()">
        temp
    </button>
    <button (click)="readRH()">
        humidity
    </button>
    <button (click)="readAQ()">
        air quality
    </button>
    <button (click)="readOnOffAct()">
        on-off
    </button>
</div>


